h1, h2, h3 {
	margin: 0;
	padding: 0;
}
body {
	font-family: "RobotoRegular", sans-serif;
	font-size: 16px;
}
header {
	background-image: url(../img/header.png);
	background-repeat: repeat-x;
	background-position: top center;
	min-height: 600px;
	position: relative;
}
.logo img {
	display: inline-block;
	float: left;
	width: 150px;
	height: 100px;
	margin-left: 30px;
	opacity: 0.9;
}
.top_menu{
	margin-top: 45px;
}
.top_menu ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
}
.top_menu li {
	display: inline-block;
	padding: 4px 20px;
	border-radius: 10px;
	float: left;
}
.top_menu li a {
	font-family: "RobotoLight";
	text-decoration: none;
	text-transform: uppercase;
	color: #ffffff;
	font-size: 21px;
	text-align: center;
}
.top_menu li a span {
	background-color: rgba(255, 255, 255, 0.35);
	padding: 5px 15px;
	border-radius: 5px;
}
.top_menu li a:hover {
	text-decoration: underline;
}
.togle-nav {
	display: none;
	color: #fff;
	font-size: 30px;
	float: right;
	margin-right: 30px;
}
.togle-nav2 {
	display: none;
	color: #fff;
	font-size: 30px;
	margin-left: 200px;
	cursor: pointer;
}
hr {
	opacity: 0.3;
	width: 90%;
}
.button_head h2 {
	margin-top: 100px;
	color: #fff;
	font-size: 38px;
	text-align: center;
}
.button_head p {
	color: #fff;
	font-size: 18px;
	text-align: center;
	margin-bottom: 40px;
}
.button_head h3 {
	text-transform: uppercase;
	color: #fff;
	font-size: 30px;
	margin-top: 25px;
	background-color: rgba(255, 255, 255, 0.35);
	padding: 5px 20px;
	border-radius: 5px;
	text-align: center;
	width: 400px;
	display: block;
	margin: 0 auto;
}
.menu_univer {
	padding: 10px 0px 10px 0px;
	background-color: rgba(38, 6, 58, 0.6);
}
.menu_univer ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
	text-align: center;
}
.menu_univer li {
	display: inline-block;
	border-radius: 10px;
}
.menu_univer li a {
	padding: 10px 70px;
	color: #fff;
	font-family: "OpenSans-Regular";
	border-style: solid;
	border-width: 2px 1px 2px 1px;
	border-color: #1e003c;
	font-size: 18px;
}
.menu_univer li a:hover{
	background-color: rgba(38, 6, 58, 0.8);
}
.unv h2 {
	text-align: center;
	margin-top: 40px;
	color: #0f5f5c;
	font-family: "RobotoMedium";
	font-size: 30px;
	text-transform: uppercase;
}
.unv hr {
	opacity: 1;
	border: none; /* Убираем границу */
	background-color: #6fb048; /* Цвет линии */
	color: #6fb048; /* Цвет линии для IE6-7 */
	height: 2px; /* Толщина линии */
	width: 10%;
}
#my_owl {
	margin-top: 30px;
}
#my_owl .item img {
	margin-bottom: 30px;
	width: 100%;
	height: 390px;
	border-radius: 10px;
}
.unv {
	margin-bottom: 40px;
}
.unv p{
	color: #130e27;
	font-size: 18px;
}
footer {
	background-color: #1e003c;
	height: 120px;
}
footer h3 {
	text-align: center;
	color: #83a7a5;
	font-size: 16px;
	margin-top: 50px;
}
footer .social_btn {
	float: right;
	margin-top: 50px;
}
footer .social_btn a i {
	color: #83a7a5;
	font-size: 28px;
	margin-right: 10px;
}
footer .social_btn i {
	margin-right: 60px;
	color: #83a7a5;
	font-size: 36px;
	cursor: pointer;
}