h1, h2, h3 {
	margin: 0;
	padding: 0;
}
body {
	font-family: "RobotoRegular", sans-serif;
	font-size: 16px;
}
header {
	background-image: url(../img/header.png);
	background-repeat: repeat-x;
	background-position: top center;
	min-height: 600px;
	position: relative;
}
.logo img {
	display: inline-block;
	float: left;
	width: 150px;
	height: 100px;
	margin-left: 30px;
	opacity: 0.9;
}
.top_menu{
	margin-top: 45px;
}
.top_menu ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
}
.top_menu li {
	display: inline-block;
	padding: 4px 20px;
	border-radius: 10px;
	float: left;
}
.top_menu li a {
	font-family: "RobotoLight";
	text-decoration: none;
	text-transform: uppercase;
	color: #ffffff;
	font-size: 21px;
	text-align: center;
}
.top_menu li a span {
	background-color: rgba(255, 255, 255, 0.35);
	padding: 5px 15px;
	border-radius: 5px;
}
.top_menu li a:hover {
	text-decoration: underline;
}
.togle-nav {
	display: none;
	color: #fff;
	font-size: 30px;
	float: right;
	margin-right: 30px;
}
hr {
	opacity: 0.3;
	width: 90%;
}
.button_head h2 {
	margin-top: 150px;
	color: #fff;
	font-size: 38px;
}
.button_head p {
	color: #fff;
	font-size: 18px;
}
.button_head h3 {
	text-transform: uppercase;
	color: #fff;
	font-size: 30px;
	margin-top: 25px;
	background-color: rgba(255, 255, 255, 0.35);
	display: inline-block;
	padding: 5px 20px;
	border-radius: 5px;
}
form {
	display: inline-block;
	float: right;
	padding: 25px 20px;
	margin-top: 84px;
	margin-right: 90px;
	background-color: #fff;
	box-shadow: 0 0 40px rgba(0,0,0,0.5);
	border-radius: 5px;
	width: 400px;
}
form h2 {
	font-size: 30px;
	line-height: 30px;
	color: #130e27;
	text-transform: uppercase;
	margin-bottom: 30px;
	text-align: center;
}
form input {
	display: block;
	margin: 10px 0;
	background-color: #eef;
	border: #eeeeee 1px solid;
	border-radius: 5px;
	padding: 10px;
	width: 100%;
	text-indent: 10px;
}
form textarea {
	background-color: #eef;
	border: #eeeeee 1px solid;
	border-radius: 5px;
	padding: 10px;
	width: 100%;
	text-indent: 10px;
}
form button {
	background-color: #1e003c;
	color: #fff;
	font-size: 20px;
	text-align: center;
	border: none;
	border-radius: 5px;
	width: 100%;
	margin-top: 20px;
	padding-top: 5px;
	padding-bottom: 5px;
}
.map h2 {
	text-align: center;
	margin-top: 70px;
	color: #0f5f5c;
	font-family: "RobotoMedium";
	font-size: 30px;
	text-transform: uppercase;
}
.map hr {
	opacity: 1;
	border: none; /* Убираем границу */
	background-color: #6fb048; /* Цвет линии */
	color: #6fb048; /* Цвет линии для IE6-7 */
	height: 2px; /* Толщина линии */
	width: 10%;
	margin-bottom: 40px;
}
footer {
	background-color: #1e003c;
	height: 120px;
}
footer h3 {
	text-align: center;
	color: #83a7a5;
	font-size: 16px;
	margin-top: 50px;
}
footer .social_btn {
	float: right;
	margin-top: 50px;
}
footer .social_btn a i {
	color: #83a7a5;
	font-size: 28px;
	margin-right: 10px;
}
footer .social_btn i {
	margin-right: 60px;
	color: #83a7a5;
	font-size: 36px;
	cursor: pointer;
}