h1, h2, h3 {
	margin: 0;
	padding: 0;
}
body {
	font-family: "RobotoRegular", sans-serif;
	font-size: 16px;
}
.history img {
	width: 150px;
	display: block;
	margin: auto;
	margin-bottom: 20px;
}
.history h2 {
	text-align: center;
	font-size: 22px;
	color: #1e003c;
}
.history h3 {
	text-align: center;
	font-size: 18px;
	font-family: "OpenSans-Bold";
	color: #1e003c;
}
.history p {
	text-align: center;
	font-size: 16px;
	color: #1e003c;
}
.history p span {
	text-decoration: underline;
}
.history h1 {
	text-align: center;
	font-size: 26px;
	color: #1e003c;
	font-family: "OpenSans-Bold";
	margin-bottom: 40px;
	text-transform: uppercase;
}
.history p {
	height: 120px;
}